<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Project APPS</title>
  </head>
  <body>
    <a href="/project">project</a></br>
    <a href="/suvervisor">suvervisor</a></br>
    <a href="/enggineer">engineer</a></br>
  </body>
</html>
