<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/project/add">
      Nama Project: <input type="text" name="nama" value=""><br>
      Status: <input type="text" name="status" value=""><br>
    <input type="submit" value="Submit">
</form>
  </body>
</html>
